/* style.css */

.gray-dropdown {
    background-color: #333 !important;
    color: white !important;
}

.Select-menu-outer {
    background-color: #333 !important;
    color: white !important;
}

.Select-value,
.Select-value-label,
.Select-placeholder,
.Select--single > .Select-control .Select-value {
    color: white !important;
}

.Select-option.is-focused {
    background-color: #444 !important; /* Slightly lighter to indicate focus */
}

.Select-option.is-selected {
    background-color: #555 !important; /* A different shade for selected options */
}

/* Additional styles for other components if needed */
